$font-round: 'Nunito', sans-serif;
$font-square: 'Montserrat', sans-serif;

$c-dark-blue: #103245;
$c-slate: #9BABB1;
$c-light-blue: #719DA7;
$c-light-grey: #C8C9CA;
$c-beige: #FBF6F3;

body {
  background: #fff;
}

nav {
  position: fixed;
  top: 0;
  padding: 0 10%;
  width: 80%;
  background-color: $c-beige;
  transition: opacity .5s;
  z-index: 10000;
  opacity: 0;
  
  &:hover {
    opacity: 1;
  }
  
  ul {
    margin: 0;
    width: 100%;
    padding: 0;
    @extend %clearfix;
    
    li {
      display: block;
      width: 25%;
      float: left;
      
      a {
        text-align: center;
        margin: 0 auto;
        display: block;
        font-family: $font-round;
        font-size: 2em;
        font-weight: 300;
        text-decoration: none;
        color: $c-dark-blue;
        padding: 20px 0;
        
        &:hover {
          padding: 20px 0 16px;
          border-bottom: 5px solid $c-dark-blue;
        }
      }
    }
  }
}
.hero-section {
  height: 100vh;
  background-image: url('images/mountain.jpg');
  background-size: cover;
  
  .hero-text {
    top: 40%;
    margin: 0 auto;
    position: relative;
    
    h1, h2 {
      margin: 0;
      text-align: center;
      color: #fff;
    }
    
    h1 {
      font-family: $font-square;
      font-size: 6.5rem;
      line-height: 1;
    }
    
    h2 {
      font-family: $font-round;
      font-size: 2.8rem;
      font-weight: 100;
      font-style: italic;
      letter-spacing: 2px;
    }
  }
}

.about-section {
  padding: 100px 0;
  
  h1 {
    font-family: $font-square;
    font-size: 4.5rem;
    line-height: 0.9;
    text-align: center;
    color: $c-dark-blue;
    margin: 0;
  }
  
  h4 {
    font-family: $font-round;
    font-size: 3rem;
    font-weight: 300;
    line-height: 55px;
    color: $c-light-blue;
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }
  
  .employment {
    padding: 0 10%;
    width: 80%;
    margin-top: 50px;
    text-align: center;
    @extend %clearfix;
    
    .job {
      width: auto;
      float: left;
      margin-bottom: 50px;
      @media (max-width: 1120px) {
        float: none;
        margin: 0 auto 50px;
        display: inline-block;
        text-align: left;
      }
      
      &:nth-child(2n) {
        float: right;
        
        @media (max-width: 1120px) {
          float: none;
        }
      }
      
      // &:nth-child(3), &:nth-child(4) {
      //   @media (min-width: 1120px) {
      //     margin-bottom: 0;
      //   }
      // }
           
      h4 {
        text-align: center;
        margin: 0;
        font-family: $font-square;
        font-size: 3rem;
        font-weight: 600;
        color: $c-dark-blue;
        width: auto;
      }
      
      p {
        font-family: $font-round;
        font-size: 2rem;
        color: $c-dark-blue;
        margin: 0;
        letter-spacing: 3px;
      }
    }
  }
}

.portfolio-section {
  background-color: $c-dark-blue;
  padding: 100px 0;
  
  h1 {
    color: #fff;
    font-family: $font-square;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
  }
  
  .project {
    width: 70%;
    margin: 0 auto 50px;
    position: relative;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    &:hover {
      .project-info {
        opacity: 1;
      }
    }
    
    img {
      width: 100%;
    }
    
    .project-info {
      opacity: 0;
      position: absolute;
      background-color: rgba(16,50,69,0.7);
      width: 100%;
      height: 100%;
      top: 0;
      transition: opacity .5s;
      
      h5 {
        color: #fff;
        text-align: center;
        font-family: $font-round;
        font-size: 4rem;
        position: relative;
        top: 43%;
        margin: 0 20%;
        border: 1px solid #fff;
        border-width: 1px 0 1px;
      }
    }
  }
}

.contact-section {
  padding: 100px 0;
  
  h1 {
    color: $c-dark-blue;
    font-family: $font-square;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
  
  .comms {
    width: 80%;
    margin: 50px auto;
    @extend %clearfix;
    
    .method {
      width: 33.33%;
      float: left;
      
      img {
        width: 50%;
        margin: 0 auto;
        display: block;
      }
      
      &:nth-child(3) {
        margin-top: 15px;
      }
    }
  }
  
  .download {
    margin: 0 auto;
    text-align: center;
    
    a {
      font-family: $font-round;
      font-size: 3rem;
      border: 2px solid $c-slate;
      color: $c-dark-blue;
      text-decoration: none;
      padding: 5px 10px;
    }
  }
}