/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

nav ul:after, .about-section .employment:after, .contact-section .comms:after {
  content: "";
  display: table;
  clear: both; }

body {
  background: #fff; }

nav {
  position: fixed;
  top: 0;
  padding: 0 10%;
  width: 80%;
  background-color: #FBF6F3;
  transition: opacity .5s;
  z-index: 10000;
  opacity: 0; }
  nav:hover {
    opacity: 1; }
  nav ul {
    margin: 0;
    width: 100%;
    padding: 0; }
    nav ul li {
      display: block;
      width: 25%;
      float: left; }
      nav ul li a {
        text-align: center;
        margin: 0 auto;
        display: block;
        font-family: "Nunito", sans-serif;
        font-size: 2em;
        font-weight: 300;
        text-decoration: none;
        color: #103245;
        padding: 20px 0; }
        nav ul li a:hover {
          padding: 20px 0 16px;
          border-bottom: 5px solid #103245; }

.hero-section {
  height: 100vh;
  background-image: url("images/mountain.jpg");
  background-size: cover; }
  .hero-section .hero-text {
    top: 40%;
    margin: 0 auto;
    position: relative; }
    .hero-section .hero-text h1, .hero-section .hero-text h2 {
      margin: 0;
      text-align: center;
      color: #fff; }
    .hero-section .hero-text h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 6.5rem;
      line-height: 1; }
    .hero-section .hero-text h2 {
      font-family: "Nunito", sans-serif;
      font-size: 2.8rem;
      font-weight: 100;
      font-style: italic;
      letter-spacing: 2px; }

.about-section {
  padding: 100px 0; }
  .about-section h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 4.5rem;
    line-height: 0.9;
    text-align: center;
    color: #103245;
    margin: 0; }
  .about-section h4 {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 55px;
    color: #719DA7;
    text-align: center;
    width: 75%;
    margin: 0 auto; }
  .about-section .employment {
    padding: 0 10%;
    width: 80%;
    margin-top: 50px;
    text-align: center; }
    .about-section .employment .job {
      width: auto;
      float: left;
      margin-bottom: 50px; }
      @media (max-width: 1120px) {
        .about-section .employment .job {
          float: none;
          margin: 0 auto 50px;
          display: inline-block;
          text-align: left; } }
      .about-section .employment .job:nth-child(2n) {
        float: right; }
        @media (max-width: 1120px) {
          .about-section .employment .job:nth-child(2n) {
            float: none; } }
      .about-section .employment .job h4 {
        text-align: center;
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        font-weight: 600;
        color: #103245;
        width: auto; }
      .about-section .employment .job p {
        font-family: "Nunito", sans-serif;
        font-size: 2rem;
        color: #103245;
        margin: 0;
        letter-spacing: 3px; }

.portfolio-section {
  background-color: #103245;
  padding: 100px 0; }
  .portfolio-section h1 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-align: center; }
  .portfolio-section .project {
    width: 70%;
    margin: 0 auto 50px;
    position: relative; }
    .portfolio-section .project:last-child {
      margin-bottom: 0; }
    .portfolio-section .project:hover .project-info {
      opacity: 1; }
    .portfolio-section .project img {
      width: 100%; }
    .portfolio-section .project .project-info {
      opacity: 0;
      position: absolute;
      background-color: rgba(16, 50, 69, 0.7);
      width: 100%;
      height: 100%;
      top: 0;
      transition: opacity .5s; }
      .portfolio-section .project .project-info h5 {
        color: #fff;
        text-align: center;
        font-family: "Nunito", sans-serif;
        font-size: 4rem;
        position: relative;
        top: 43%;
        margin: 0 20%;
        border: 1px solid #fff;
        border-width: 1px 0 1px; }

.contact-section {
  padding: 100px 0; }
  .contact-section h1 {
    color: #103245;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin: 0; }
  .contact-section .comms {
    width: 80%;
    margin: 50px auto; }
    .contact-section .comms .method {
      width: 33.33%;
      float: left; }
      .contact-section .comms .method img {
        width: 50%;
        margin: 0 auto;
        display: block; }
      .contact-section .comms .method:nth-child(3) {
        margin-top: 15px; }
  .contact-section .download {
    margin: 0 auto;
    text-align: center; }
    .contact-section .download a {
      font-family: "Nunito", sans-serif;
      font-size: 3rem;
      border: 2px solid #9BABB1;
      color: #103245;
      text-decoration: none;
      padding: 5px 10px; }

/*# sourceMappingURL=style.css.map */
